$bg-color: #000000;

$primary-color: #ff204e;

//Inputs
$wrong-color: #ff5151;
$input-color: #bbbbbb;

//Modals
$modal-color: rgba(217, 217, 217, 0.17);
$modal-sub-text: #a1a1a1;

$modal-absolute-color: #181818;

//Texts
$text-color: #ffffff;
$sub-text-color: #a1a1a1;

//Buttons
$btn-color: #8c8c8c;
$btn-active-color: #ffffff;

$btn-gray-color: #4a4a4a;
$btn-gray-active-color: #535353;

$btn-primary-active-color: #ff3c63;

$link-sub-color: #8c8c8c;
